<form action="<%= url("/#{@slug}/edit") %>" method="post">
  <fieldset>
    <legend>Edit content</legend>

    <label for="f_content">Content</label>
    <textarea id="f_content" name="content" rows="10" cols="30"><%= @page %></textarea>
  </fieldset>

  <button type="submit">Save</button>
</form>
