<!DOCTYPE HTML>
<html lang="en">
<head>
  	<meta charset="UTF-8">
  	<title>Wiki</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <style type="text/css">
    body { padding-top: 60px; }
    </style>
</head>
<body>
    <div class="topbar">
        <div class="fill">
            <div class="container">
                <a class="brand" href="/">Simple Wiki</a>
                <ul class="nav">
                    <li><a href="/contents">Contents</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
      	<div class="row">
            <div class="span12">
                <%= yield %>
            </div>
      	</div>
        <footer>
          <% if @slug %>
            <a href="<%= url("/#{@slug}/edit") %>">Edit page</a>
          <% end %>
        </footer>
    </div>
</body>
</html>
